<div class="sidebar">
  <div class="sidebar-header">
    <h3>QHealth</h3>
    <p class="role-badge">{{ userRole | titlecase }}</p>
  </div>
  
  <nav class="sidebar-nav">
    <ul class="nav-list">
      <li *ngFor="let item of menuItems" class="nav-item">
        <!-- Main menu item -->
        <a 
          [routerLink]="item.route" 
          routerLinkActive="active"
          class="nav-link"
          [class.has-children]="item.children"
          (click)="toggleSubmenu(item)"
        >
          <i class="material-icons icon" [title]="item.label">{{ item.icon }}</i>
          <span class="label">{{ item.label }}</span>
          <span 
            *ngIf="item.children" 
            class="expand-icon"
            [class.expanded]="item['expanded']"
          >
            ▼
          </span>
        </a>
        
        <!-- Submenu items -->
        <ul 
          *ngIf="item.children" 
          class="submenu"
          [class.expanded]="item['expanded']"
        >
          <li *ngFor="let child of item.children" class="submenu-item">
            <a 
              [routerLink]="child.route" 
              routerLinkActive="active"
              class="submenu-link"
            >
              <i class="material-icons icon" [title]="child.label">{{ child.icon }}</i>
              <span class="label">{{ child.label }}</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
  
  <!-- Logout section at bottom -->
  <div class="sidebar-footer">
    <button 
      (click)="logout()"
      class="logout-button"
    >
      <i class="material-icons icon">logout</i>
      <span class="label">Logout</span>
    </button>
  </div>
</div>
